body, html {
    height: 100%;
    margin: 0;
    color: #c9d1d9;
    background-color: #0d1117;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.navbar-custom {
    background-color: #161b22;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    color: #c9d1d9;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #8aa2b5;
}

.container {
    background-color: #161b22;
    padding: 2rem;
    border-radius: 6px;
    margin: 2rem auto;
    box-shadow: 0 8px 24px rgba(0,0,0,.5);
}

.about-content {
    color: #c9d1d9;
    margin-top: 1rem;
}

.about-content h2 {
    color: #58a6ff;
    margin-bottom: 1rem;
}

.about-content p {
    margin-bottom: 1rem;
}

.about-content ul {
    list-style-type: none;
    padding-left: 1rem;
}

.about-content ul li {
    margin-bottom: 0.5rem;
}

.btn-custom {
    background: linear-gradient(to right, #1f4068, #1b1b2f);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-custom:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #3a6073, #16222a);
}

.about-content {
    color: #c9d1d9;
    margin-top: 1rem;
    text-align: left; /* Align text to the left */
}

.about-content ul li {
    margin-bottom: 0.5rem;
}

.about-content ul li strong {
    font-weight: bold;
}

.about-content ul li::before {
    content: "•";
    color: #58a6ff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
