body, html {
    height: 100%;
    margin: 0;
    color: #c9d1d9;
    background-color: #0d1117;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.navbar-custom {
    background-color: #161b22;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    color: #c9d1d9;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.2em;
}

.navbar-brand:hover {
    color: #8aa2b5;
}

.container, .container-custom {
    background-color: #161b22;
    padding: 2rem;
    border-radius: 6px;
    margin: 2rem auto;
    box-shadow: 0 8px 24px rgba(0,0,0,.5);
}

.dropdown-custom select, .table-container .table th, .table-container .table td {
    color: #c9d1d9;
}

.dropdown-custom select {
    width: 100%;
    height: 2.5rem;
    padding: 0.6rem; /* Unified padding */
    background: #0d1117;
    font-size: 14px;
    border: 1px solid #30363d;
    border-radius: 6px;
    margin-bottom: 1rem;
    appearance: none;
    text-align: center;
}

.dropdown-custom select:focus {
    outline: none;
    border-color: #238636;
}

.btn-custom {
    background: linear-gradient(to right, #1f4068, #1b1b2f);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 1rem;
}

.btn-custom:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #3a6073, #16222a);
}

.table-custom, .table-container .table {
    width: 100%;
    background-color: #161b22;
    border-collapse: collapse;
}

.table-custom th, .table-custom td, .table-container .table th, .table-container .table td {
    padding: .8rem;
    border-bottom: 1px solid #30363d;
}

.table-custom th, .table-container .table th {
    text-align: left;
    border-bottom: 2px solid #30363d;
}

.table-custom tbody tr:hover, .table-hover tbody tr:hover {
    background-color: #0d1117;
}

.sticky-header th {
    position: sticky;
    top: 0;
    background-color: #161b22;
    z-index: 10;
}

#score-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
}

.score-bar {
    width: 0;
    border-radius: 10px;
    height: 20px;
    transition: width 1.5s ease-in-out;
}

#team1-bar {
    background-color: blue;
}

#team2-bar {
    background-color: red;
}

#score-info, .back-button, .position-highlight, .win, .loss {
    display: block; /* Makes sure these elements are block-level */
}

#winning-team, #winning-percentage, .score-value {
    font-weight: bold;
}

.win {
    color: #28a745;
}

.loss {
    color: #dc3545;
}

.back-button {
    margin: 20px;
    background-color: #3e4b58;
    color: white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
}

.back-button:hover {
    background-color: #0056b3;
}

img.team-icon {
    max-width: 30px; /* Size for team icons */
    height: auto;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1em;
    }

    .btn-custom {
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
    }
    
    .button-group {
        flex-direction: column;
        align-items: center;
    }

    .button-group form {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}
