body, html {
    height: 100%;
    margin: 0;
    color: #c9d1d9;
    background-color: #0d1117;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.navbar-custom {
    background-color: #161b22;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    color: #c9d1d9;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #8aa2b5;
}

.container, .container-custom {
    background-color: #161b22;
    box-shadow: 0 8px 24px rgba(0,0,0,.5);
    padding: 2rem;
    border-radius: 6px;
    margin: 2rem auto;
}

.dropdown-custom select {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    background: #0d1117;
    font-size: 14px;
    color: #c9d1d9;
    border: 1px solid #30363d;
    border-radius: 6px;
    margin-bottom: 1rem;
    appearance: none;
    text-align: center;
}

.dropdown-custom select:focus {
    outline: none;
    border-color: #238636;
}

.btn-custom {
    background: linear-gradient(to right, #1f4068, #1b1b2f);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-custom:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #3a6073, #16222a);
}

.table-custom th, .table-custom td {
    padding: .8rem;
    border-bottom: 1px solid #30363d;
}

.table-custom th {
    text-align: left;
    border-bottom: 2px solid #30363d;
}

.table-custom tbody tr:hover {
    background-color: #0d1117;
}

.team-icon {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-size: cover;
    transition: transform 0.3s ease;
}

.team-icon:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    width: 80%;
}

.modal-content table {
    width: 100%;
    border-collapse: collapse;
}

.modal-content th, 
.modal-content td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #777;
}

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin-left: calc(100% - 35px);
}

.close:hover,
.close:focus {
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1em;
    }

    .btn-custom {
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
    }
    
    .button-group {
        flex-direction: column;
        align-items: center;
    }

    .button-group form {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}
