<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to NRL Stat Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
    <!-- Additional head elements -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom mb-4">
        <a class="navbar-brand" href="#">NRL Statistics Tracker</a>
        <div class="ml-auto">
         <div class="button-group" style="display: flex; justify-content: space-around; margin-top: 20px;">
             <form action="/compare" method="get">
                 <button type="submit" class="btn-custom">Compare Teams</button>
             </form>
             <form action="/ladder" method="get">
                 <button type="submit" class="btn-custom">View Ladder</button>
             </form>
             <form action="/power_list" method="get">
                 <button type="submit" class="btn-custom">Power List</button>
             </form>
         </div>
        </div>
     </nav>
    <div class="container text-center">
        <h1 class="my-4">Welcome to NRL Stat Tracker</h1>
        <p class="mb-4">A hub for your rugby league statistics, crafted for enthusiasts and analysts.</p>

        <div id="team-icons" class="d-flex flex-wrap justify-content-center">
            <!-- Dynamically generate team icons -->
            {% for team in team_images %}
                <div class="team-icon" onclick="openStats('{{ team }}')" style="background-image: url('{{ url_for('static', filename='img/' + team) }}');">

                    <!-- Icons can be background images for these divs -->
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal for displaying team stats - initially hidden -->
    <div id="stats-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="team-name"></h2>
            <!-- Content will be loaded dynamically -->
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/welcome.js') }}"></script>
</body>
</html>
