<!DOCTYPE html>
<html>
<head>
    <title>NRL Ladder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ladder.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom mb-4">
        <a class="navbar-brand" href="/">NRL Statistics Tracker</a>
        <div class="ml-auto">
         <div class="button-group" style="display: flex; justify-content: space-around; margin-top: 20px;">
             <form action="/" method="get">
                 <button type="submit" class="btn-custom">Home</button>
             </form>
             <form action="/compare" method="get">
                <button type="submit" class="btn-custom">Compare Teams</button>
            </form>
            <form action="/ladder" method="get">
                <button type="submit" class="btn-custom">View Ladder</button>
            </form>
             <form action="/power_list" method="get">
                 <button type="submit" class="btn-custom">Power List</button>
             </form>
            <form action="/about" method="get">
                <button type="submit" class="btn-custom">About</button>
            </form>
         </div>
        </div>
     </nav>
    <div class="container">
        <div class="table-container">
            <table id="ladderTable" class="table table-striped table-hover">
                <thead class="header-row">
                    <tr>
                        <th class="sortable">Position</th>
                        <th class="sortable">Team Name</th>
                        <th class="sortable">Points</th>
                        <th class="sortable">Wins</th>
                        <th class="sortable">Losses</th>
                        <th class="sortable">Played</th>
                        <th class="sortable">For</th>
                        <th class="sortable">Against</th>
                        <th class="sortable">Diff</th>
                        <th class="sortable">Home</th>
                        <th class="sortable">Away</th>
                        <th class="sortable">Form</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in ladder_data %}
                    <tr>
                        <td class="position-highlight">{{ team.Pos }}</td>
                        <td><img src="{{ url_for('static', filename='img/' + team.TeamName.lower() + '.svg') }}" alt="{{ team.TeamName }}" class="team-icon"></td>
                        <td>{{ team.Points }}</td>
                        <td class="win">{{ team.Wins }}</td>
                        <td class="loss">{{ team.Lost }}</td>
                        <td>{{ team.Played }}</td>
                        <td>{{ team.For }}</td>
                        <td>{{ team.Against }}</td>
                        <td>{{ team.Diff }}</td>
                        <td>{{ team.Home }}</td>
                        <td>{{ team.Away }}</td>
                        <td>{{ team.Form }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/ladder.js') }}"></script>
</body>
</html>