<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NRL Statistics - AI Predicted Power List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/power-list.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="overscroll-behavior-x: auto;">
    <nav class="navbar navbar-expand-lg navbar-custom mb-4">
        <a class="navbar-brand" href="/">NRL Statistics Tracker</a>
        <div class="ml-auto">
         <div class="button-group" style="display: flex; justify-content: space-around; margin-top: 20px;">
             <form action="/" method="get">
                 <button type="submit" class="btn-custom">Home</button>
             </form>
             <form action="/compare" method="get">
                <button type="submit" class="btn-custom">Compare Teams</button>
            </form>
            <form action="/ladder" method="get">
                <button type="submit" class="btn-custom">View Ladder</button>
            </form>
             <form action="/power_list" method="get">
                 <button type="submit" class="btn-custom">Power List</button>
             </form>
            <form action="/about" method="get">
                <button type="submit" class="btn-custom">About</button>
            </form>
         </div>
        </div>
     </nav>
    <div class="container">
       <table class="table table-hover table-bordered table-custom">
         <thead class="thead-dark sticky-header">
            <tr>
               <th>Rank</th>
               <th>Team</th>
            </tr>
         </thead>
         <tbody>
            {% for ranking in power_rankings %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <img src="{{ url_for('static', filename='img/' + ranking.team.lower() + '.svg') }}" alt="{{ ranking.team }}" class="team-icon">
                    {{ ranking.team }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
